$primary-color: #2e878a;
body {
  color: $primary-color;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0
}

.stock {
  position: relative;
  height:90%;

  img {
    position: relative;
    height: 100%;
  }

  .contenant {
    position : absolute;
    top : 50%;
    left: 30%;
    color: black;
    background: no-repeat center url('../images/etiquette.png');
    background-size: contain;
    height:130px;
    width:200px;

    .type {
      position: absolute;
      top: 35px;
      left: 65px;
    }

    .quantite {
      position: absolute;
      top: 70px;
      left: 70px;
    }

  }

  .contenant.montre {
  }

  .contenant.cache {
    display: none;
  }
}


